<div class="main-panel">        
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">District Registration</h4>
              <form class="forms-sample" [formGroup]="districtregform">
                <div class="form-group">
                 
                  <input type="text" class="form-control" formControlName="districtname" placeholder="District name">
                </div>
                <button type="submit" (click)="OnSubmit()" class="btn btn-primary mr-2">Submit</button>
              </form>
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
       