
    <div class="container">
        <div class="col-md-6 mx-auto">
            <form [formGroup]="newpassword" class="delivery-form">
                <h1 class="contact_text text-center mb-4">Enter New Password</h1>
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" placeholder="Current Password" formControlName="currentPassword">
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
                </div>
                <button type="submit" class="btn btn-primary btn-block" (click)="OnSubmit()">Save</button>
            </form>
        </div>
    </div>

